$body-bg: #040404;
$color-inpt: #C4C4C4;
$color-text: #F5E6E8;
$color-block-content: rgba(19, 80, 91, 0.3);
$color-modal-bg: #13505B;
$color-input-bg: #C4C4C4;
$border-radius-main: 10px;
$color-text: #F5E6E8;
$color-text-input: #967AA1;
$color-hover: rgb(124, 90, 138);
$size-text-input: 18px;
//header
$color-line: #119DA4;
//autorization
$content-bg: #13505B; //color modal bg
